In [1]:
# Consider the string given below and answer the following questions 
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"

####  Calculate the number of characters in the string

-  193
-  200
-  300
-  500

In [2]:
# Type your code here
len(string)

193

#### Count the number of occurences of 'a' in the string

-  1
-  2
-  10
-  5

In [4]:
# Type your code here
string.count('a')

2

#### Identify whether the string starts with 'if'.

-  True
-  False

In [5]:
# Type your code here
string.startswith('if')

False

#### Return the substring starting at index 63 and ending at index 88  [Both the indexes are inclusive]

-  'OQYWFClFhFGA'
-  'mCfgDYqbaBHAUvIWhMnvwZnEMV'
-  'IWYwGKpmZhnJiyzTslSIhSwv'
-  'JMEphzmifTkyqOMNpnOtXZ'

In [6]:
# Type your code here
string[63:89]

'mCfgDYqbaBHAUvIWhMnvwZnEMV'

#### Identify the character at index 45

-  a
-  b
-  z
-  x

In [7]:
# Type your code here
string[45]

'z'

In [3]:
a = 8.9
b = 2
c = 5
print(a//b//c)

0.0

In [4]:
print(4 // 8 + ( 2.5 + 7.5 ) - 6 * 3)

-8.0

In [6]:
5 % ( 2 + 12 ) ** 3 - 60 // ( 7 + 1 ) * 2

-9

In [9]:
if 4+9<10:
  print("true")
else:
  print("false")
print("true")

false
true

In [13]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [14]:
del input_list[3]

In [15]:
input_list

['SAS', 'R', 'PYTHON']

In [16]:
isinstance('Python',int)

False

In [17]:
isinstance(12,int)

True

In [18]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [19]:
from functools import reduce

ans = reduce(lambda x,y: x+y, range(1,5))
ans

10

In [23]:
input_str = 'Racecar'

reverse = input_str[::-1]

if input_str.lower() == reverse.lower():
    print('Palindrome!')
else:
    print('Not Palindrome!')

Palindrome!

In [24]:
x = 'abcUPGRADabc'

x[-9:-3]

'UPGRAD'

In [27]:
x = "dienldhiia" 
city = x[0::2]
country = x[1::2]

print(city+","+country)

delhi,india

In [30]:
s = "akash@upgrad.com" 
s1 = "akriti@UPGRAD.com" 
s2 = "kanika@upgRAD.CoM"

s.lower().rstrip("@upgrad.com")

'akash'

In [32]:
s.lower().replace('@upgrad.com','')

'akash'

In [33]:
s

'akash@upgrad.com'

In [37]:
# Extract the first three characters 
# and the last three characters 
# from the string "OpenAI is amazing!" 
# and concatenate them to form a new string.

input_str = "OpenAI is amazing!"

print(input_str[0:3] + input_str[-3:-1])

Openg

In [39]:
n = int(input('Enter an integer number - '))

integer_square = [x*x for x in range(1,n+1)]

print(integer_square)

Enter an integer number -  4

[1, 4, 9, 16]

In [40]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)

type(sample_map)

map

In [44]:
x = '1'

if x.isalpha():
    print('Alpha')
elif x.isdigit():
    print('Digit')
else:
    print('Invalid Input')

Digit

In [45]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [51]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [52]:
list_1

['black', 'blue', 'green', 'orange', 'red', 'white']

In [47]:
print(sorted(list_1))

['black', 'blue', 'green', 'orange', 'red', 'white']

In [53]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [54]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [55]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [56]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [57]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8