In [1]:
import pandas as pd

In [62]:
# Read the data

data = pd.read_csv('rating.csv')

In [63]:
data.head()

      ID Department     Office  Rating
0  U2F26    Finance  New Delhi     3.4
1  U2M61  Marketing  New Delhi     3.9
2  U1S15      Sales  New Delhi     2.8
3  U1H87         HR     Mumbai     2.1
4  U1S51      Sales  New Delhi     4.6

In [64]:
data.shape

(533, 4)

In [65]:
# Add a column named Training 
# and assign the value as Yes if the employee rating is less than or equal to 3.5, else No

data['Training'] = data.Rating.apply(lambda x: 'Yes' if x<=3.5 else 'No')

In [66]:
data.head()

      ID Department     Office  Rating Training
0  U2F26    Finance  New Delhi     3.4      Yes
1  U2M61  Marketing  New Delhi     3.9       No
2  U1S15      Sales  New Delhi     2.8      Yes
3  U1H87         HR     Mumbai     2.1      Yes
4  U1S51      Sales  New Delhi     4.6       No

In [67]:
data[data['Training'] == 'No']

        ID Department     Office  Rating Training
1    U2M61  Marketing  New Delhi     3.9       No
4    U1S51      Sales  New Delhi     4.6       No
5    U1H78         HR  New Delhi     3.8       No
6    U3M65  Marketing  New Delhi     5.0       No
8    U3S75      Sales  Bangalore     4.3       No
..     ...        ...        ...     ...      ...
520  U1M10  Marketing     Mumbai     3.7       No
523  U3F46    Finance  New Delhi     3.6       No
524  U1M31  Marketing  New Delhi     4.6       No
526  U2S35      Sales     Mumbai     4.9       No
528  U3S44      Sales  New Delhi     4.8       No

[270 rows x 5 columns]

In [68]:
data['Department'].unique()

array(['Finance', 'Marketing', 'Sales', 'HR'], dtype=object)

In [69]:
finance_total = len(data[data['Department'] == 'Finance'])
finance_total

134

In [70]:
finance_no_training = len(data[(data['Department'] == 'Finance') & (data['Training'] == 'Yes')])
finance_no_training

67

In [71]:
(finance_no_training/finance_total)*100

50.0

In [72]:
marketing_total = len(data[data['Department'] == 'Marketing'])

In [73]:
marketing_no_training = len(data[(data['Department'] == 'Marketing') & (data['Training'] == 'Yes')])
marketing_no_training

74

In [74]:
(marketing_no_training/marketing_total)*100

53.62318840579711

In [75]:
sales_total = len(data[data['Department'] == 'Sales'])
sales_total

130

In [76]:
sales_no_training = len(data[(data['Department'] == 'Sales') & (data['Training'] == 'Yes')])
sales_no_training

66

In [77]:
(sales_no_training/sales_total)*100

50.76923076923077

In [78]:
hr_total = len(data[data['Department'] == 'HR'])
hr_total

131

In [79]:
hr_no_training = len(data[(data['Department'] == 'HR') & (data['Training'] == 'Yes')])
hr_no_training

56

In [55]:
(hr_no_training/hr_total)*100

42.74809160305343

In [105]:
df = data.groupby(by = ['Department'])

df.last()

               ID     Office  Rating Training
Department
Finance     U3F53  Bangalore     3.2      Yes
HR          U3H91  New Delhi     3.1      Yes
Marketing   U2M11  Bangalore     2.5      Yes
Sales       U3S28  New Delhi     2.9      Yes

In [107]:
type(df)

pandas.core.groupby.generic.DataFrameGroupBy

In [108]:
type(df.get_group('Finance'))

/var/folders/c2/l2r3q7m5127fsd7cnclhntrm0000gn/T/ipykernel_53079/2733480141.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  type(df.get_group('Finance'))

pandas.core.frame.DataFrame

In [117]:
# Solve the above using group by


def percent_training(data):
    dept_percent = {}
    for i in data['Department'].unique():
        df = data.groupby(by = ['Department']).get_group(i)
        total = len(df[df['Department'] == i])
        no_training = len(df[(df['Department'] == i) & (df['Training'] == 'Yes')])
        percent = (no_training/total) * 100
        dept_percent[i] = percent
    return dept_percent

In [118]:
percent_training(data)

/var/folders/c2/l2r3q7m5127fsd7cnclhntrm0000gn/T/ipykernel_53079/3197518391.py:7: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df = data.groupby(by = ['Department']).get_group(i)
/var/folders/c2/l2r3q7m5127fsd7cnclhntrm0000gn/T/ipykernel_53079/3197518391.py:7: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df = data.groupby(by = ['Department']).get_group(i)
/var/folders/c2/l2r3q7m5127fsd7cnclhntrm0000gn/T/ipykernel_53079/3197518391.py:7: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df = data.groupby(by = ['Department']).get_group(i)
/var/folders/c2/l2r3q7m5127fsd7cnclhntrm0000gn/T/ipykernel_53079/3197518391.py:7: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df = data.groupby(by = ['Department']).get_group(i)

{'Finance': 50.0,
 'Marketing': 53.62318840579711,
 'Sales': 50.76923076923077,
 'HR': 42.74809160305343}