# Sets

In [1]:
set1 = {"pop","rock",1,3.5}

In [6]:
# sets are unordered unlike lists and tuples
print(set1)

{1, 3.5, 'pop', 'rock'}

In [7]:
# sets store only unique values
set1 = {"pop","rock","pop","pop",1,1,3.5}

In [8]:
print(set1)

{1, 3.5, 'pop', 'rock'}

In [10]:
print(set1[0]) # as it is unoreded, it doesn't store element position

TypeError: 'set' object is not subscriptable

# Convert List to Set

In [19]:
list1 = ["rock","pop","rock",1,1,3.5]

In [20]:
print(list1)

['rock', 'pop', 'rock', 1, 1, 3.5]

In [21]:
set1 = set(list1)

In [22]:
print(set1)

{'pop', 3.5, 'rock', 1}

# Convert Tuple to Set

In [23]:
tuple1 = (4,4,4,5,6,7,"Ram")

In [24]:
print(tuple1)

(4, 4, 4, 5, 6, 7, 'Ram')

In [25]:
set2 = set(tuple1)

In [26]:
print(set2)

{4, 'Ram', 5, 6, 7}

# Set Operations

In [28]:
set1 = {"rock","pop",3,3,4.5}
print(set1)

{3, 4.5, 'pop', 'rock'}

In [29]:
# Add a new element
set1.add("Ram")

In [30]:
print(set1)

{3, 4.5, 'Ram', 'pop', 'rock'}

In [32]:
set1.add({"page",10}) # only takes an element

TypeError: unhashable type: 'set'

In [33]:
# Remove element
set1.remove('Ram')

In [34]:
print(set1)

{3, 4.5, 'pop', 'rock'}

In [35]:
set1.remove('Pop')

KeyError: 'Pop'

In [36]:
print('Pop' in set1)

False

In [37]:
print('pop' in set1)

True

# Mathematical Operations

In [38]:
set1 = {"rock","pop",3,4,2.10}
set2 = {4,5,"page"}

print("Set1 - ",set1)
print("Set2 - ",set2)

Set1 -  {2.1, 3, 4, 'pop', 'rock'}
Set2 -  {'page', 4, 5}

In [49]:
#Intersection of sets

set3 = set1 & set2
print("Intersected set - ",set3)

print("Another way of intersection - ", set1.intersection(set2))

Intersected set -  {3, 4}
Another way of intersection -  {3, 4}

In [44]:
# Union of sets
set4 = set1.union(set2)
print("Union set - ", set4)

Union set -  {2.1, 3, 4, 'pop', 'page', 5, 'rock'}

In [46]:
# if a set is sub set of another set
set1 = {"pop","rock",4,3,2.5}
set2 = {4,3}

print(set2.issubset(set1))

True

In [47]:
set3 = {3,4,10}

print(set3.issubset(set1))

False

In [48]:
# Set difference
print(set3.difference(set1))

{10}