# Problem Statement: Temperature Data set
This is the data of hourly temperature readings for seven consecutive days(Mon-Sun) for a particular week in Seattle, and the objective is to extract relevant information from the dataset using functional programming in Python.

In [2]:
# Hourly temperature data for a week in Kelvin
temp_list = [
            [281.72, 281.72, 281.71, 281.70, 281.69, 281.69, 281.68, 281.67, 281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71, 285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11],
            [295.24, 294.38, 292.28, 291.12, 289.93, 287.87, 287.14, 286.54, 286.16, 285.31, 284.30, 283.96, 283.60, 283.23, 283.50, 284.57, 285.64, 286.71, 287.42, 288.61, 289.13, 289.41, 289.18, 288.95],
            [288.79, 287.47, 286.01, 284.85, 283.91, 283.31, 283.07, 283.15, 282.51, 281.98, 281.49, 281.14, 280.59, 279.65, 279.15, 279.72, 282.40, 284.72, 286.03, 287.19, 288.68, 289.56, 290.05, 289.98],
            [289.60, 288.40, 286.38, 285.56, 284.45, 283.92, 283.25, 282.59, 281.92, 281.78, 281.63, 281.08, 280.64, 281.14, 280.08, 280.70, 282.98, 284.62, 286.61, 287.45, 289.22, 290.21, 289.94, 290.01],
            [289.85, 288.82, 287.60, 285.82, 284.58, 284.12, 283.63, 282.98, 282.68, 282.38, 281.77, 281.47, 281.06, 280.55, 280.65, 281.00, 283.49, 286.17, 287.58, 289.49, 292.11, 292.85, 292.69, 292.85],
            [292.05, 290.34, 288.05, 286.46, 285.37, 285.04, 284.38, 283.73, 283.07, 282.87, 280.77, 280.32, 280.01, 279.77, 279.54, 279.63, 282.48, 287.17, 289.47, 291.63, 293.42, 293.95, 294.78, 294.10],
            [293.62, 291.88, 290.03, 288.43, 287.15, 286.78, 286.32, 285.17, 283.78, 282.96, 282.93, 281.96, 282.02, 281.26, 280.25, 281.01, 283.15, 286.49, 289.87, 291.42, 292.46, 293.35, 294.32, 294.85],         
             ]

**Task:**
- Convert temperatures from Kelvin to Celsius scale
- Convert temperatures from Celsius to Fahrenheit scale

**Use:**
- For loops
- List comprehensions
- lambda + map/filter/reduce

In [4]:
temp_list_Monday = temp_list[0]

print(temp_list_Monday)

[281.72, 281.72, 281.71, 281.7, 281.69, 281.69, 281.68, 281.67, 281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71, 285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11]

In [12]:
# For loop

temp_list_Monday_C = []

for temp_K in temp_list_Monday:
    temp_list_Monday_C.append(round(temp_K - 273.15,2))
    
print(temp_list_Monday_C)

[8.57, 8.57, 8.56, 8.55, 8.54, 8.54, 8.53, 8.52, 8.51, 8.51, 8.5, 8.49, 8.48, 8.48, 8.47, 9.56, 11.9, 14.82, 17.46, 18.91, 20.53, 22.17, 22.03, 22.96]

In [13]:
# List comprehension

temp_list_Monday_C = [round(temp_K - 273.15,2) for temp_K in temp_list_Monday]

print(temp_list_Monday_C)

[8.57, 8.57, 8.56, 8.55, 8.54, 8.54, 8.53, 8.52, 8.51, 8.51, 8.5, 8.49, 8.48, 8.48, 8.47, 9.56, 11.9, 14.82, 17.46, 18.91, 20.53, 22.17, 22.03, 22.96]

In [11]:
# Lambda + Map

temp_list_Monday_C = list(map(lambda temp_K: round(temp_K - 273.15,2), temp_list_Monday))

print(temp_list_Monday_C)

[8.57, 8.57, 8.56, 8.55, 8.54, 8.54, 8.53, 8.52, 8.51, 8.51, 8.5, 8.49, 8.48, 8.48, 8.47, 9.56, 11.9, 14.82, 17.46, 18.91, 20.53, 22.17, 22.03, 22.96]

**Task:**
- Convert temperatures from Kelvin to Celsius scale
- Convert temperatures from Celsius to Fahrenheit scale

**Use:**
- For loops
- List comprehensions
- lambda + map/filter/reduce

In [17]:
# Hourly temperature data for a week in Kelvin
temp_list_overall = [
            [281.72, 281.72, 281.71, 281.70, 281.69, 281.69, 281.68, 281.67, 281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71, 285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11],
            [295.24, 294.38, 292.28, 291.12, 289.93, 287.87, 287.14, 286.54, 286.16, 285.31, 284.30, 283.96, 283.60, 283.23, 283.50, 284.57, 285.64, 286.71, 287.42, 288.61, 289.13, 289.41, 289.18, 288.95],
            [288.79, 287.47, 286.01, 284.85, 283.91, 283.31, 283.07, 283.15, 282.51, 281.98, 281.49, 281.14, 280.59, 279.65, 279.15, 279.72, 282.40, 284.72, 286.03, 287.19, 288.68, 289.56, 290.05, 289.98],
            [289.60, 288.40, 286.38, 285.56, 284.45, 283.92, 283.25, 282.59, 281.92, 281.78, 281.63, 281.08, 280.64, 281.14, 280.08, 280.70, 282.98, 284.62, 286.61, 287.45, 289.22, 290.21, 289.94, 290.01],
            [289.85, 288.82, 287.60, 285.82, 284.58, 284.12, 283.63, 282.98, 282.68, 282.38, 281.77, 281.47, 281.06, 280.55, 280.65, 281.00, 283.49, 286.17, 287.58, 289.49, 292.11, 292.85, 292.69, 292.85],
            [292.05, 290.34, 288.05, 286.46, 285.37, 285.04, 284.38, 283.73, 283.07, 282.87, 280.77, 280.32, 280.01, 279.77, 279.54, 279.63, 282.48, 287.17, 289.47, 291.63, 293.42, 293.95, 294.78, 294.10],
            [293.62, 291.88, 290.03, 288.43, 287.15, 286.78, 286.32, 285.17, 283.78, 282.96, 282.93, 281.96, 282.02, 281.26, 280.25, 281.01, 283.15, 286.49, 289.87, 291.42, 292.46, 293.35, 294.32, 294.85],         
             ]

In [18]:
temp_list_overall_C = []

for temp_list_day in temp_list_overall:
    temp_list_overall_C.append([round(temp_K - 273.15,2) for temp_K in temp_list_day])

print(temp_list_overall_C)

[[8.57, 8.57, 8.56, 8.55, 8.54, 8.54, 8.53, 8.52, 8.51, 8.51, 8.5, 8.49, 8.48, 8.48, 8.47, 9.56, 11.9, 14.82, 17.46, 18.91, 20.53, 22.17, 22.03, 22.96], [22.09, 21.23, 19.13, 17.97, 16.78, 14.72, 13.99, 13.39, 13.01, 12.16, 11.15, 10.81, 10.45, 10.08, 10.35, 11.42, 12.49, 13.56, 14.27, 15.46, 15.98, 16.26, 16.03, 15.8], [15.64, 14.32, 12.86, 11.7, 10.76, 10.16, 9.92, 10.0, 9.36, 8.83, 8.34, 7.99, 7.44, 6.5, 6.0, 6.57, 9.25, 11.57, 12.88, 14.04, 15.53, 16.41, 16.9, 16.83], [16.45, 15.25, 13.23, 12.41, 11.3, 10.77, 10.1, 9.44, 8.77, 8.63, 8.48, 7.93, 7.49, 7.99, 6.93, 7.55, 9.83, 11.47, 13.46, 14.3, 16.07, 17.06, 16.79, 16.86], [16.7, 15.67, 14.45, 12.67, 11.43, 10.97, 10.48, 9.83, 9.53, 9.23, 8.62, 8.32, 7.91, 7.4, 7.5, 7.85, 10.34, 13.02, 14.43, 16.34, 18.96, 19.7, 19.54, 19.7], [18.9, 17.19, 14.9, 13.31, 12.22, 11.89, 11.23, 10.58, 9.92, 9.72, 7.62, 7.17, 6.86, 6.62, 6.39, 6.48, 9.33, 14.02, 16.32, 18.48, 20.27, 20.8, 21.63, 20.95], [20.47, 18.73, 16.88, 15.28, 14.0, 13.63, 13.17, 12.02, 10.63, 9.81, 9.78, 8.81, 8.87, 8.11, 7.1, 7.86, 10.0, 13.34, 16.72, 18.27, 19.31, 20.2, 21.17, 21.7]]

In [20]:
temp_list_overall_C = [[round(temp_K - 273.15,2) for temp_K in temp_list_day]
                       for temp_list_day in temp_list_overall]

print(temp_list_overall_C)

[[8.57, 8.57, 8.56, 8.55, 8.54, 8.54, 8.53, 8.52, 8.51, 8.51, 8.5, 8.49, 8.48, 8.48, 8.47, 9.56, 11.9, 14.82, 17.46, 18.91, 20.53, 22.17, 22.03, 22.96], [22.09, 21.23, 19.13, 17.97, 16.78, 14.72, 13.99, 13.39, 13.01, 12.16, 11.15, 10.81, 10.45, 10.08, 10.35, 11.42, 12.49, 13.56, 14.27, 15.46, 15.98, 16.26, 16.03, 15.8], [15.64, 14.32, 12.86, 11.7, 10.76, 10.16, 9.92, 10.0, 9.36, 8.83, 8.34, 7.99, 7.44, 6.5, 6.0, 6.57, 9.25, 11.57, 12.88, 14.04, 15.53, 16.41, 16.9, 16.83], [16.45, 15.25, 13.23, 12.41, 11.3, 10.77, 10.1, 9.44, 8.77, 8.63, 8.48, 7.93, 7.49, 7.99, 6.93, 7.55, 9.83, 11.47, 13.46, 14.3, 16.07, 17.06, 16.79, 16.86], [16.7, 15.67, 14.45, 12.67, 11.43, 10.97, 10.48, 9.83, 9.53, 9.23, 8.62, 8.32, 7.91, 7.4, 7.5, 7.85, 10.34, 13.02, 14.43, 16.34, 18.96, 19.7, 19.54, 19.7], [18.9, 17.19, 14.9, 13.31, 12.22, 11.89, 11.23, 10.58, 9.92, 9.72, 7.62, 7.17, 6.86, 6.62, 6.39, 6.48, 9.33, 14.02, 16.32, 18.48, 20.27, 20.8, 21.63, 20.95], [20.47, 18.73, 16.88, 15.28, 14.0, 13.63, 13.17, 12.02, 10.63, 9.81, 9.78, 8.81, 8.87, 8.11, 7.1, 7.86, 10.0, 13.34, 16.72, 18.27, 19.31, 20.2, 21.17, 21.7]]

Converting temperatures from Celsius to Fahrenheit scale using 'for' loop

In [21]:
temp_f = []
for day in temp_list_overall_C:
    temp_f.append([round((temp * 9/5) + 32, 2) for temp in day])

print(temp_f)

[[47.43, 47.43, 47.41, 47.39, 47.37, 47.37, 47.35, 47.34, 47.32, 47.32, 47.3, 47.28, 47.26, 47.26, 47.25, 49.21, 53.42, 58.68, 63.43, 66.04, 68.95, 71.91, 71.65, 73.33], [71.76, 70.21, 66.43, 64.35, 62.2, 58.5, 57.18, 56.1, 55.42, 53.89, 52.07, 51.46, 50.81, 50.14, 50.63, 52.56, 54.48, 56.41, 57.69, 59.83, 60.76, 61.27, 60.85, 60.44], [60.15, 57.78, 55.15, 53.06, 51.37, 50.29, 49.86, 50.0, 48.85, 47.89, 47.01, 46.38, 45.39, 43.7, 42.8, 43.83, 48.65, 52.83, 55.18, 57.27, 59.95, 61.54, 62.42, 62.29], [61.61, 59.45, 55.81, 54.34, 52.34, 51.39, 50.18, 48.99, 47.79, 47.53, 47.26, 46.27, 45.48, 46.38, 44.47, 45.59, 49.69, 52.65, 56.23, 57.74, 60.93, 62.71, 62.22, 62.35], [62.06, 60.21, 58.01, 54.81, 52.57, 51.75, 50.86, 49.69, 49.15, 48.61, 47.52, 46.98, 46.24, 45.32, 45.5, 46.13, 50.61, 55.44, 57.97, 61.41, 66.13, 67.46, 67.17, 67.46], [66.02, 62.94, 58.82, 55.96, 54.0, 53.4, 52.21, 51.04, 49.86, 49.5, 45.72, 44.91, 44.35, 43.92, 43.5, 43.66, 48.79, 57.24, 61.38, 65.26, 68.49, 69.44, 70.93, 69.71], [68.85, 65.71, 62.38, 59.5, 57.2, 56.53, 55.71, 53.64, 51.13, 49.66, 49.6, 47.86, 47.97, 46.6, 44.78, 46.15, 50.0, 56.01, 62.1, 64.89, 66.76, 68.36, 70.11, 71.06]]

Converting temperatures from Celsius to Fahrenheit scale using 'map' and 'lambda' functions

In [24]:
# Applying lambda funcions 
temp_f = list(map(lambda day: list(map(lambda temp: round((temp * 9/5) + 32, 2)
                                       , day))
                  , temp_list_overall_C))

print(temp_f)

[[47.43, 47.43, 47.41, 47.39, 47.37, 47.37, 47.35, 47.34, 47.32, 47.32, 47.3, 47.28, 47.26, 47.26, 47.25, 49.21, 53.42, 58.68, 63.43, 66.04, 68.95, 71.91, 71.65, 73.33], [71.76, 70.21, 66.43, 64.35, 62.2, 58.5, 57.18, 56.1, 55.42, 53.89, 52.07, 51.46, 50.81, 50.14, 50.63, 52.56, 54.48, 56.41, 57.69, 59.83, 60.76, 61.27, 60.85, 60.44], [60.15, 57.78, 55.15, 53.06, 51.37, 50.29, 49.86, 50.0, 48.85, 47.89, 47.01, 46.38, 45.39, 43.7, 42.8, 43.83, 48.65, 52.83, 55.18, 57.27, 59.95, 61.54, 62.42, 62.29], [61.61, 59.45, 55.81, 54.34, 52.34, 51.39, 50.18, 48.99, 47.79, 47.53, 47.26, 46.27, 45.48, 46.38, 44.47, 45.59, 49.69, 52.65, 56.23, 57.74, 60.93, 62.71, 62.22, 62.35], [62.06, 60.21, 58.01, 54.81, 52.57, 51.75, 50.86, 49.69, 49.15, 48.61, 47.52, 46.98, 46.24, 45.32, 45.5, 46.13, 50.61, 55.44, 57.97, 61.41, 66.13, 67.46, 67.17, 67.46], [66.02, 62.94, 58.82, 55.96, 54.0, 53.4, 52.21, 51.04, 49.86, 49.5, 45.72, 44.91, 44.35, 43.92, 43.5, 43.66, 48.79, 57.24, 61.38, 65.26, 68.49, 69.44, 70.93, 69.71], [68.85, 65.71, 62.38, 59.5, 57.2, 56.53, 55.71, 53.64, 51.13, 49.66, 49.6, 47.86, 47.97, 46.6, 44.78, 46.15, 50.0, 56.01, 62.1, 64.89, 66.76, 68.36, 70.11, 71.06]]

Temperature for the 3rd day at the 7th hour

In [26]:
temp_list_overall_C[2][6]

9.92

Highest temp on each day

In [29]:
# Maximum temperature on the third day 
highest_temp = max(temp_list_overall_C[2])
highest_temp

16.9

Average temperature for each day of the week

In [52]:
#print(temp_c)

In [36]:
# Using for loops
avg_temps_by_day = []

for temp_c_by_day in temp_list_overall_C:
    avg_temps_by_day.append(round(sum(temp_c_by_day)/len(temp_c_by_day),2))

avg_temps_by_day

[12.01, 14.52, 11.24, 11.61, 12.52, 13.03, 13.99]

In [37]:
# Using list comprehension

avg_temps_by_day = [round(sum(temp_c_by_day)/len(temp_c_by_day),2) for temp_c_by_day in temp_list_overall_C]
avg_temps_by_day

[12.01, 14.52, 11.24, 11.61, 12.52, 13.03, 13.99]

In [34]:
# Using reduce function
from functools import reduce

avg_temps_by_day = [round(reduce(lambda x, y: x+y, temp_c_by_day)/len(temp_c_by_day),2)
                    for temp_c_by_day in temp_list_overall_C]
avg_temps_by_day

[12.01, 14.52, 11.24, 11.61, 12.52, 13.03, 13.99]

Create a list that contains only the temperatures that are above 22 degrees Celsius.

Find the number of days for which the temperature was above 22 degrees Celsius.

In [43]:
# Using for loops and if conditions

temps_above_22 = []

for temp_c_by_day in temp_list_overall_C:
    for temp in temp_c_by_day:
        if temp > 22:
            temps_above_22.append(temp)

print(temps_above_22)
print("Number of hours for which the temperature was above 22 degrees Celsius is: {}".format(len(temps_above_22)))

[22.17, 22.03, 22.96, 22.09]
Number of hours for which the temperature was above 22 degrees Celsius is: 4

In [44]:
# Using list comprehensions

temps_above_22 = [temp for temp_c_by_day in temp_list_overall_C for temp in temp_c_by_day if temp > 22]

print(temps_above_22)
print("Number of hours for which the temperature was above 22 degrees Celsius is: {}".format(len(temps_above_22)))

[22.17, 22.03, 22.96, 22.09]
Number of hours for which the temperature was above 22 degrees Celsius is: 4

In [45]:
# Using filter
temps_above_22 = list(filter(lambda x: x > 22, [temp for day in temp_list_overall_C for temp in day]))

print(temps_above_22)
print("Number of hours for which the temperature was above 22 degrees Celsius is: {}".format(len(temps_above_22)))

[22.17, 22.03, 22.96, 22.09]
Number of hours for which the temperature was above 22 degrees Celsius is: 4

Define a function that finds:
- The number of days for which the temperature was above X degrees Celsius
- Where X is a function input

In [49]:
def num_hours_above_X(X):
    return len([temp for temp_c_by_day in temp_list_overall_C for temp in temp_c_by_day if temp > X])

num_hours_above_X(20)

14

Deriving num_hours when the temperature was between 10 and 25 degree Celsius

In [50]:
len([temp for temp_c_by_day in temp_list_overall_C for temp in temp_c_by_day if temp > 10 and temp < 25])

105

Use a function to find the num_hours when the temperature was between X and Y degree Celcius

In [52]:
def num_hours_between_X_Y(X,Y):
    return(len([temp for temp_c_by_day in temp_list_overall_C for temp in temp_c_by_day
                if temp > X and temp < Y]))

num_hours_between_X_Y(10, 20)

91

Was the temp ever recorded as exactly X deg C for any hour on day Y?

In [54]:
day_no = 3 #0,1,2,3, ....
deg_c = 11

# round all values to zero decimal points before checking

In [55]:
def is_temp_recorded_at(deg_c, day_no):
    return (deg_c in [round(temp) for temp in temp_list_overall_C[day_no]])

is_temp_recorded_at(deg_c = 21, day_no = 1)

True

In [57]:
# [Optional] 
# Hour at which the temperature was maximum on the third day
def find_in_list_of_list(temp_c, char):
    for sub_list in temp_c:
        if char in sub_list:
            return (temp_c.index(sub_list), sub_list.index(char))
    raise ValueError("'{char}' is not in list".format(char = char))


find_in_list_of_list(temp_list_overall_C, highest_temp)

(2, 22)

In [58]:
# Iterate over each day's temperature data
for day, temp in enumerate(temp_list_overall_C):
    # Find the highest temperature for the day
    highest_temp = max(temp)
    # Print the highest temperature and the day number
    print("Day {0}: Highest temperature is {1} degrees Celsius".format(day+1, highest_temp))

Day 1: Highest temperature is 22.96 degrees Celsius
Day 2: Highest temperature is 22.09 degrees Celsius
Day 3: Highest temperature is 16.9 degrees Celsius
Day 4: Highest temperature is 17.06 degrees Celsius
Day 5: Highest temperature is 19.7 degrees Celsius
Day 6: Highest temperature is 21.63 degrees Celsius
Day 7: Highest temperature is 21.7 degrees Celsius

Hour of highest temp

In [59]:
for day in temp_list_overall_C:
    for i, temp in enumerate(day):
        if temp > highest_temp:
            highest_temp = temp
            hour_of_highest_temp = i

print("The highest temperature is {0} at hour {1}".format(highest_temp, hour_of_highest_temp))

The highest temperature is 22.96 at hour 23

Using a function to derive the num_hours when the temperature was between X-1 and X+1 degree Celcius

In [61]:
def num_hours_around_X(X):
    num_hours = 0
    for week in temp_list_overall_C:
        for temp in week:
            if temp > X-1 and temp < X+1:
                num_hours += 1
    return num_hours

In [ ]:
num_hours_around_X(20)

Recall the user_list that you used in the previous session to create user_id for a user. Let's now use the same list to find user_id for all users using loops.

In [62]:
User_list = [['Alice Kim', 'Eric Lee', 'Paul Kim', 'Ben Kim', 'Brian Wu'], 
             [1965, 1983, 1994, 1972, 1994],
             [58, 40, 29, 51, 29]]

User_id_list = []

# Loop through each name in the first sub-list of User_list
for i in range(len(User_list[0])):
    # Split the name into first and last name
    first_name, last_name = User_list[0][i].split()
    # Get the year of birth and age for the current user
    YOB = User_list[1][i]
    age = User_list[2][i]
    # Create the User ID using the first letter of the first name, the last name, the year of birth, and the age
    user_id = first_name[0] + last_name[0] + str(YOB) + str(age)
    # Add the User ID to the User_id_list
    User_id_list.append(user_id)

# Print the user IDs
print(User_id_list)

['AK196558', 'EL198340', 'PK199429', 'BK197251', 'BW199429']