# Problem1

Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.

For example, if input_str = 'analytics' then, your output should print 'YES'.

**Sample Input:**
alpha

**Sample Output:**
YES

In [51]:
input_str = input("Enter a string - ")

if input_str.startswith('A') or input_str.startswith('a') or input_str.startswith('E') or input_str.startswith('e') or input_str.startswith('I') or input_str.startswith('i') or input_str.startswith('O') or input_str.startswith('o') or input_str.startswith('U') or input_str.startswith('u'):
    print('YES')
else:
    print('NO')

Enter a string -  an

YES

# Problem2

You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case

**Sample Input:**
['VARMA', 'raj', 'Gupta', 'SaNdeeP']


**Sample Output**
['Varma', 'Raj', 'Gupta', 'Sandeep']

In [7]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
output_list = []

for element in input_list:
    output_list.append(element.capitalize())

output_list

['Varma', 'Raj', 'Gupta', 'Sandeep']

# Problem3

You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 

For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]

The input integer 'n' is stored in the variable 'n'.

In [20]:
n = 4

list_squares = [element**2 for element in range(1,n+1)]
list_squares

[1, 4, 9, 16]

# Problem4

Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

**Sample Input:**
['wood','old','apple','big','item','euphoria']

**Sample Output:**
['old', 'apple', 'item', 'euphoria']

In [23]:
input_list = ['wood','old','apple','big','item','euphoria']

vowels = ('a','e','i','o','u','A','E','I','O','U')

list_vowels = [word for word in input_list if word.startswith(vowels)]
list_vowels

['old', 'apple', 'item', 'euphoria']

# Problem5

Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.

**Sample Input:**
['6','7']

**Sample Output:**
279936

In [24]:
def squared(x,y):
    result = x**y
    return result

In [25]:
squared(2,3)

8

In [31]:
squared(6,7)

279936

# Problem6

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.

**Sample Input:**
['9','3']

**Sample Output:**
9

In [37]:
greater = lambda x,y=3: x if x>y else y

In [38]:
greater(9,3)

9

In [39]:
greater

In [41]:
greater(10)

10

# Problem 6

Using the function Map, count the number of words that start with ‘S’ in input_list.

**Sample Input:**
['Santa Cruz','Santa fe','Mumbai','Delhi']

**Sample Output:**
2

In [8]:
input_list = ['Santa Cruz','Santa fe','Mumbai','Delhi']

count = list(map(lambda word: word.startswith('S'),input_list)).count(True)

count

2

In [9]:
# Alternative solution

input_list = ['Santa Cruz','Santa fe','Mumbai','Delhi']

count = len(list(filter(lambda word: word.startswith('S'),input_list)))

count

2

# Problem 7

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [11]:
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

first_name = input_list[0]
last_name = input_list[1]

name = [firstName+' '+lastName for firstName,lastName in zip(first_name,last_name)]

name

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [13]:
# Another Solution

input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

first_name = input_list[0]
last_name = input_list[1]

full_name = []

for firstName in first_name:
    for lastName in last_name:
        full_name.append(firstName+' '+lastName)
        break

full_name

['Ankur Narang', 'Avik Narang', 'Kiran Narang', 'Nitin Narang']

In [2]:
# Another Solution
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

first_name = input_list[0]
last_name = input_list[1]

full_name = list(map(lambda firstName, lastName: firstName + ' ' + lastName , first_name,last_name))

print(full_name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

# Problem 8

Extract a list of numbers that are multiples of 5 from a list of integers named input_list.

**Sample Input:**
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]


**Sample Output:**
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [15]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

list_multiple_5 = list(filter(lambda num: num%5==0, input_list))

list_multiple_5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [18]:
# Alternative Solution

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

list_multiple_5 = [num for num in input_list if num%5==0]

list_multiple_5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Problem 9

You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].

Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

**Sample Input:**
['soap','sharp','shy','silent','ship','summer','sheep']

**Sample Output:**
['soap', 'sharp', 'ship', 'sheep']

In [21]:
input_list = ['soap','sharp','shy','silent','ship','summer','sheep']

list_sp = [word for word in input_list if word.lower().startswith('s') and word.lower().endswith('p')]

list_sp

['soap', 'sharp', 'ship', 'sheep']

In [23]:
#Alternative approach

input_list = ['soap','sharp','shy','silent','ship','summer','sheep']

list_sp = list(filter(lambda word: word.lower().startswith('s') and word.lower().endswith('p') , input_list))

list_sp

['soap', 'sharp', 'ship', 'sheep']

# Problem 10

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.

If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

**Sample Input:**
['All','you','have','to','fear','is','fear','itself']

**Sample Output:**
All you have to fear is fear itself

In [25]:
from functools import reduce

input_list = ['All','you','have','to','fear','is','fear','itself']

sentence = reduce(lambda x,y: x+' '+y, input_list)

sentence

'All you have to fear is fear itself'

# Problem 11

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

**Sample Input:**
[65,76,87,23,12,90,99]

**Sample Output:**
99

In [30]:
from functools import reduce

input_list = [65,76,87,23,12,90,99]

largest_num = reduce(lambda x,y: x if x>y else y,input_list)

largest_num

99

# Problem 12

Even numbers in a list

Description
Given a list of integers, write a python code to find all the even numbers present in the list.



Note: Try using lambda and filter functions to solve the problem.



Input: A list of integers

Output: A list of integers



----------------------------------------------------------------------



Sample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

Sample output: [22, 54, 62]



----------------------------------------------------------------------



Sample input: [500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]

Sample output: [500, 2112, 5894, 9062, 600]



----------------------------------------------------------------------

In [5]:
import ast

input_list = ast.literal_eval(input())

even_list = list(filter(lambda x: x%2==0, input_list))

print(even_list)

 [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

[22, 54, 62]

# Problem 13

Triple the list elements

Description
Given a list of integers, write a python code to triple all the values in the list.



Note: Try using lambda and map functions to solve the problem.



Input: A list of integers

Output: A list of integers



----------------------------------------------------------------------



Sample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

Output: [15, 21, 66, 291, 162, 186, 231, 69, 219, 183]



----------------------------------------------------------------------



Sample input: [15, 71, 2, 9, 5, 6, 11, 3, 7, 6]

Output: [45, 213, 6, 27, 15, 18, 33, 9, 21, 18]



----------------------------------------------------------------------

In [6]:
import ast

input_list = ast.literal_eval(input())

triple_list = list(map(lambda x: x*3, input_list))

print(triple_list)

 [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

# Problem 14

Encrypt elements in a list

Description
A company stores the names of their employees in a list. They want to encrypt the names so that no one can read them and the data stays safe. One of the steps in encrypting is to reverse each name in the list and convert them to uppercase and your task is to write a Python code to execute the same.



Note: Use lambda and map functions.



Input: A list of names

Output: A list of encrypted names



----------------------------------------------------------------------



Sample input: ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']

Sample output: ['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']



----------------------------------------------------------------------



Sample input: ['Abhay', 'Aravind', 'Desilva', 'Darpan']

Sample output: ['YAHBA', 'DNIVARA', 'AVLISED', 'NAPRAD']



----------------------------------------------------------------------

In [7]:
import ast

input_list = ast.literal_eval(input())

encrypt_list = list(map(lambda name: name[::-1].upper(), input_list))

print(encrypt_list)

 ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']

['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']

# Problem 15

Sorting a dictionary

Description
Given is a list consisting of dictionary elements. Each dictionary contains the name of a student as a first item and his/her corresponding rank as the second item. Your task is to write a Python program to print the list (dictionary elements) in a sorted ascending order according to student ranks. In case the rank of two or more students are the same, then sort them in ascending order (alphabetically) according to their names.



Note: Use the sorted() function to solve the question.



Input: Dictionary

Output: Dictionary



----------------------------------------------------------------------



Sample input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

Sample output: [{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },

]



----------------------------------------------------------------------



Sample input: [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 },

{ "name" : "Merut" , "rank" : 2 }]



Sample output: [{'name': 'Mandeep', 'rank': 2}, {'name': 'Merut', 'rank': 2}, {'name': 'Mohan', 'rank': 2}]



----------------------------------------------------------------------

In [15]:
import ast

input_students = ast.literal_eval(input())

print(sorted(input_students, key = lambda student: (student['rank'], student['name'])))

 [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 },  { "name" : "Merut" , "rank" : 2 }]

[{'name': 'Mandeep', 'rank': 2}, {'name': 'Merut', 'rank': 2}, {'name': 'Mohan', 'rank': 2}]

# Problem 16

Intersection of lists

Description
In ‘ABC’ university, company ‘XYZ’ conducted three rounds of interviews to recruit students. Those students who passed all the rounds were selected. The company released the results for each round in a separate list. Your task is to write a Python code to display the list of the students who passed all the three rounds.



Note: a. Name of the person can be given in uppercase or lowercase.



 b. Print the names in lowercase in the output.



Input: List

List

List



Output: List



----------------------------------------------------------------------



Sample input: ['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 

 ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']

 ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

        

Sample output: ['arkam', 'bairstow']



----------------------------------------------------------------------



Sample input: ['Pranay', 'Aditya', 'Deepesh', 'Sandesh']

['Pranoy', 'Surya', 'Cairy', 'Vignesh', 'ADITYA', 'SANDesh']

['Vardhan', 'Shailesh', 'aditya', 'sandesh']

        

Sample output: ['aditya', 'sandesh']



----------------------------------------------------------------------

Sample input: ['Siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']

['siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']

['Siddharth', 'gaurav', 'PRASAD', 'KuLDEEp', 'KARNA']



Sample output: ['siddharth', 'gaurav', 'prasad', 'kuldeep', 'karna']

In [1]:
import ast

round1 = ast.literal_eval(input()) #['Pranay', 'Aditya', 'Deepesh', 'Sandesh']

round2 = ast.literal_eval(input()) #['Pranoy', 'Surya', 'Cairy', 'Vignesh', 'ADITYA', 'SANDesh']

round3 = ast.literal_eval(input()) #['Vardhan', 'Shailesh', 'aditya', 'sandesh']

round1_selected = list(map(lambda x: x.lower(),round1))

round2_selected = list(map(lambda x: x.lower(),round2))

round3_selected = list(map(lambda x: x.lower(),round3))

result = [x for x in round1_selected if x in round1_selected and x in round2_selected and x in round3_selected]

print(list(result))

 ['Pranay', 'Aditya', 'Deepesh', 'Sandesh']
 ['Pranoy', 'Surya', 'Cairy', 'Vignesh', 'ADITYA', 'SANDesh']
 ['Vardhan', 'Shailesh', 'aditya', 'sandesh']

['aditya', 'sandesh']

# Problem 17

Sorting a list of dictionary elements

Description
A teacher decided to divide the class into groups to conduct fun activities. Each group had one or more members in it. The data is provided in the form of a list with dictionary elements. The key and value in each dictionary correspond to the student’s roll number and his/her name.



In case the length of two or more dictionaries are the same, then the dictionary that occurs first in the input list will also appear first among the other dictionaries of the same length.



Your task is to write a Python program to sort the list in descending order with respect to the group strength.﻿



Note: Use lambda and sorted functions to solve the question.



Input: List

Output: List



----------------------------------------------------------------------



Sample input: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]



Sample output: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]



----------------------------------------------------------------------



Sample input: [{14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}, {3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}]



Sample output: [{3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}, {14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}]



----------------------------------------------------------------------

In [20]:
import ast

input_group = ast.literal_eval(input())

print(sorted(input_group, key=lambda group:len(group), reverse=True))

 [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]

[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]