# Problem1

Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.

For example, if input_str = 'analytics' then, your output should print 'YES'.

**Sample Input:**
alpha

**Sample Output:**
YES

In [51]:
input_str = input("Enter a string - ")

if input_str.startswith('A') or input_str.startswith('a') or input_str.startswith('E') or input_str.startswith('e') or input_str.startswith('I') or input_str.startswith('i') or input_str.startswith('O') or input_str.startswith('o') or input_str.startswith('U') or input_str.startswith('u'):
    print('YES')
else:
    print('NO')

Enter a string -  an

YES

# Problem2

You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case

**Sample Input:**
['VARMA', 'raj', 'Gupta', 'SaNdeeP']


**Sample Output**
['Varma', 'Raj', 'Gupta', 'Sandeep']

In [7]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
output_list = []

for element in input_list:
    output_list.append(element.capitalize())

output_list

['Varma', 'Raj', 'Gupta', 'Sandeep']

# Problem3

You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 

For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]

The input integer 'n' is stored in the variable 'n'.

In [20]:
n = 4

list_squares = [element**2 for element in range(1,n+1)]
list_squares

[1, 4, 9, 16]

# Problem4

Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

**Sample Input:**
['wood','old','apple','big','item','euphoria']

**Sample Output:**
['old', 'apple', 'item', 'euphoria']

In [23]:
input_list = ['wood','old','apple','big','item','euphoria']

vowels = ('a','e','i','o','u','A','E','I','O','U')

list_vowels = [word for word in input_list if word.startswith(vowels)]
list_vowels

['old', 'apple', 'item', 'euphoria']

# Problem5

Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.

**Sample Input:**
['6','7']

**Sample Output:**
279936

In [24]:
def squared(x,y):
    result = x**y
    return result

In [25]:
squared(2,3)

8

In [31]:
squared(6,7)

279936

# Problem6

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.

**Sample Input:**
['9','3']

**Sample Output:**
9

In [37]:
greater = lambda x,y=3: x if x>y else y

In [38]:
greater(9,3)

9

In [39]:
greater

In [41]:
greater(10)

10