# Problem1

Remove SPSS from the input list and add SPARK in its place

In [3]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']

In [4]:
if 'SPSS' in input_list:
    input_list.remove('SPSS')
    input_list.append('SPARK')

In [5]:
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

# Problem2
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’.

In [10]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

print(input_list)

['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [16]:
string_list = " & ".join(input_list)
print(string_list)

Pythons syntax is easy to learn & Pythons syntax is very clear

# Problem3

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.


A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

Note that you need to print in the order first name, last name and customer code.

In [20]:
input_str = 'Kumar_Ravi_003'

input_list = input_str.split("_")

In [21]:
print(input_list)

['Kumar', 'Ravi', '003']

In [22]:
first_name = input_list[1]
second_name = input_list[0]
customer_code = input_list[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

# Problem4

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

**Sample Input:**
('Monty Python', 'British', 1969)

**Sample Output:**
('Monty Python', 'British', 1969, 'Python')

In [1]:
input_tuple = ('Monty Python', 'British', 1969)

In [5]:
tuple2 = input_tuple[:] + ('Python',)

In [6]:
tuple2

('Monty Python', 'British', 1969, 'Python')

# Problem5

Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 

**Sample Input :**
<br>
A = [5, 1, 3, 4, 4, 5, 6, 7] <br>
B = [3, 3, 5, 5, 1 ,7 ,2]


**Sample Output:**
<br>
[1,3,5,7]

In [11]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1 ,7 ,2]

common_elements = set(list_1).intersection(set(list_2))
answer = sorted(common_elements)

print(answer)

[1, 3, 5, 7]

# Problem 6

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).

**Sample input:**
<br>
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

**Sample output:**
<br>
'Product Lead'


Note: Assume that employee data would be available in the data provided to you

In [12]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [13]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [15]:
Employee_data[104][2]

'Product Lead'

In [16]:
d = {}

In [17]:
type(d)

dict