# Problem1

Remove SPSS from the input list and add SPARK in its place

In [3]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']

In [4]:
if 'SPSS' in input_list:
    input_list.remove('SPSS')
    input_list.append('SPARK')

In [5]:
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

# Problem2
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’.

In [10]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

print(input_list)

['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [16]:
string_list = " & ".join(input_list)
print(string_list)

Pythons syntax is easy to learn & Pythons syntax is very clear

# Problem3

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.


A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

Note that you need to print in the order first name, last name and customer code.

In [20]:
input_str = 'Kumar_Ravi_003'

input_list = input_str.split("_")

In [21]:
print(input_list)

['Kumar', 'Ravi', '003']

In [22]:
first_name = input_list[1]
second_name = input_list[0]
customer_code = input_list[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

# Problem4

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

**Sample Input:**
('Monty Python', 'British', 1969)

**Sample Output:**
('Monty Python', 'British', 1969, 'Python')

In [1]:
input_tuple = ('Monty Python', 'British', 1969)

In [5]:
tuple2 = input_tuple[:] + ('Python',)

In [6]:
tuple2

('Monty Python', 'British', 1969, 'Python')

# Problem5

Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 

**Sample Input :**
<br>
A = [5, 1, 3, 4, 4, 5, 6, 7] <br>
B = [3, 3, 5, 5, 1 ,7 ,2]


**Sample Output:**
<br>
[1,3,5,7]

In [11]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1 ,7 ,2]

common_elements = set(list_1).intersection(set(list_2))
answer = sorted(common_elements)

print(answer)

[1, 3, 5, 7]

# Problem 6

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).

**Sample input:**
<br>
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

**Sample output:**
<br>
'Product Lead'


Note: Assume that employee data would be available in the data provided to you

In [12]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [13]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [15]:
Employee_data[104][2]

'Product Lead'

In [16]:
d = {}

In [17]:
type(d)

dict

# Problem 7

List sum

Description
Suppose you want to know the total score of the Indian cricket team in a given match. To do so, your task is to find the sum of all the scores of the Indian team players. The scores are provided as a list, with each element as an individual score of the players. Also, there is a condition that if the number of elements in the list is more than 11, then it is an invalid input and the output should be -1.

--------------------------------------------------------------------------------------------
Input - List

Output - An integer

--------------------------------------------------------------------------------------------
Sample Input : [11, 13, 101, 14, 33, 141]

Sample Output : 313

---------------------------------------------------------------------------------------------
Sample Input : [11, 13, 101, 14, 33, 141, 12, 144, 54, 67, 8, 11]

Sample Output : -1

---------------------------------------------------------------------------------------------
Sample Input : [100, 80, 30, 10, 0, 1, 2, 0]

Sample Output : 223

In [7]:
from functools import reduce

input_str = '[11, 13, 101, 14, 33, 141]'

input_str = input_str.strip('[]')

input_list = input_str.split(',')


if len(input_list) > 11:
    print('-1')
else:
    print(reduce(lambda x,y:int(x)+int(y),input_list))

313

# Problem 8

Length of list elements

Description
Given a list of strings, write a program to find the number of strings whose length is greater than or equal to K, where K is a positive integer.

Input - List of strings and an integer

Output - Integer

--------------------------------------------------------------------------------
Sample Input :

[Mumbai, Hyderabad, Calicut, Chennai]

9

Sample Output: 1

-------------------------------------------------------------------------------

Sample Input :

[Datascience, Data Analyst, Programmer, Manager]

  8

Sample Output : 3

In [16]:
input_str = '[Mumbai, Hyderabad, Calicut, Chennai]'
k = 9
input_str = input_str.strip('[]')

input_list = input_str.split(',')

ans = list(map(lambda x: len(x) >= k ,input_list)).count(True)

print(ans)

1

# Problem 9

Increment list elements

Description
Given a list of strings, increment the value of the numeric strings by 'k’. 

Hint: The function isdigit() may be useful here.

---------------------------------------------------------------------------------------------
Input - A list in the first line and an integer in the second line

Output - A list

---------------------------------------------------------------------------------------------

Sample Input :

['Python', '123', 'Data']

4


Sample Output : ['Python', '127', 'Data']

---------------------------------------------------------------------------------------------

Sample Input :

['upGrad', '1991', 'Mumbai']

0

Sample Output : ['upGrad', '1991', 'Mumbai']

---------------------------------------------------------------------------------------------

Sample Input :

['Data Science', '100', '10']

10

Sample Output : ['Data Science', '110', '20']

In [23]:
input_list = ['Data Science', '100', '10']

K = 10

result = list(map(lambda x: str(int(x)+K) if x.isdigit() else x , input_list))

print(result)

['Data Science', '110', '20']

# Problem 10

Slicing a list

Description
Given a list of strings and an integer K, write a python code to print all the elements from the K th position till the end of the list.



Note: Assume that K (a positive integer) will always be less than or equal to the length of the list


Input - A list of strings in the first line and an integer in the second line of the input.

Output - A list



--------------------------------------------------------------------------------------------------------



Sample Input :

['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

2



Sample Output : ['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']



--------------------------------------------------------------------------------------------------------



Sample Input :

['Chennai', 'Vizag', 'Austria', 'Germany', 'Japan']

3



Sample Output : ['Austria', 'Germany', 'Japan']

In [1]:
import ast

input_list = ast.literal_eval(input())
k = int(input())

print(input_list[k-1:])

 ['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']
 2

['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

# Problem 11

Substring with maximum uppercase characters

Description
Given a string, write a Python program to find the largest substring of uppercase characters and print the length of that substring. Check the sample inputs and outputs for a better understanding.



---------------------------------------------------------------------------------------------------

Input - String

Output - String

---------------------------------------------------------------------------------------------------



Sample Input - I lovE PRogrAMMING

Sample Output - 6



Explanation - AMMING is the largest substring with all characters in uppercase continuously 



-----------------------------------------------------------------------------------------------------

Sample Input - MuMbaI is in MAHArashTRA

Sample Output - 4



Explanation - MAHA is the largest substring with all characters in uppercase continuously.



---------------------------------------------------------------------------------------------------

Sample Input - India WOn the WOrLD CUP

Sample Output - 3



Explanation - CUP is the largest substring with all characters in uppercase continuously.

In [6]:
input_str = input('Enter a sentence with mix of upper and lower case - ')

count = 0
prev_count = 0
for char in input_str:
    if ord(char)>=ord('A') and ord(char)<=ord('Z'):
        count = count+1
    else:
        if count > prev_count:
            prev_count = count
        count = 0

if count > prev_count:
    print(count)
else:
    print(prev_count)

Enter a sentence with mix of upper and lower case -  I lovE PROGRAmming PYTHON

6

# Problem 12

Sorting list of tuples

Description
A class of students attempt an exam in two parts: ‘Aptitude’ and ‘Physics'. The marks of all the students are stored as a list of tuples, and each student’s marks (in Aptitude and Physics) are stored in each tuple. Your task is to write a Python program to sort the list of tuples in decreasing order of the Physics scores of the students.



Note - Marks of both the subjects are ranged between 1-100, and no two students have scored the same marks in Physics.



---------------------------------------------------------------------------------------------------

Input - List of tuples

Output - List of tuples



---------------------------------------------------------------------------------------------------



Sample Input - [(45,77), (88,87), (67,98), (33,31)]



In (45,77), which is the first element in the list, 45 and 77 are the scores of a student in aptitude and physics respectively.



Sample Output - [ (67,98), (88,87), (45,77),(33,31)]



---------------------------------------------------------------------------------------------------



Sample Input - [(45,23), (45,88), (45,98), (45,44)]



Sample Output - [ (45,98), (45,88), (45,44),(45,23)]



---------------------------------------------------------------------------------------------------



Sample Input - [(55,77), (34,90), (67,100), (90,0)]



Sample Output - [ (67,100), (34,90), (55,77),(90,0)]

In [14]:
import ast
input_str = input('Enter the (aptitude,physics) marks of all the students - ')

marks = ast.literal_eval(input_str)
n = len(marks)

for j in range(0,n):
    for i in range(0,n-1):
        if marks[i][1] < marks[i+1][1]:
            temp = marks[i]
            marks[i] = marks[i+1]
            marks[i+1] = temp

print(marks)

Enter the (aptitude,physics) marks of all the students -  [(45,77), (88,87), (67,98), (33,31)]

[(67, 98), (88, 87), (45, 77), (33, 31)]

# Problem 13

Divisibility check

Description
Given an integer ‘n’, your task is to write a Python code to find whether ‘n’ is divisible by all its digits or not. If they divide the number, then the number ‘n’ is a happy number. Otherwise, it is a sad number.

The number ‘n’ may be provided with commas. At first, you have to clean the number (by removing the commas involved) and then check whether the number is happy or sad.


---------------------------------------------------------------------------------------------------



Input - String

Output - String



---------------------------------------------------------------------------------------------------

Sample Input - 2,128

Sample Output - Happy Number



---------------------------------------------------------------------------------------------------



Sample Input - 256

Sample Output - Sad Number



---------------------------------------------------------------------------------------------------



Sample Input - 1124

Sample Output - Happy Number



---------------------------------------------------------------------------------------------------

In [22]:
input_str = input('Enter a number - ')

input_str = input_str.replace(',','')

happy = False

for digit in input_str:
    if int(input_str) % int(digit) != 0:
        happy = False
        print('Sad Number')
        break
    else:
        happy = True
        continue

if happy:
    print('Happy Number')

Enter a number -  123

Sad Number

# Problem 14

Updating the dictionary keys

Description
You are provided with a dictionary containing the names of different football clubs as keys and the name of the main player of the corresponding team as values. When the main player of a team retires, one of their teammates steps up to fill in their role as the main player.


You’re also provided with a list which contains the names of the football clubs for which the current main players are retiring and the names of the corresponding new main player. Your task is to update the values in the original dictionary with the names of the new main players.



------------------------------------------------------------------------------------------------------



Input - The input consists of a dictionary with different football clubs' names and their main player. In the next line, you will be provided with a list of the new players who have taken up the main roles.



Output - Dictionary



---------------------------------------------------------------------------------------------------



Sample Input :

{Barcelona:’Messi’ , ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Neymar’ }

[[‘Barcelona’, ‘Griezmann’], [‘PSG’, ‘Ramos’]]



Sample Output: {Barcelona:‘Griezmann’, ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Ramos’}



---------------------------------------------------------------------------------------------------



Sample Input:

{Liverpool:’A’, ‘Real Madrid’: ‘B’, ‘Chelsea’: ‘C’ }

[[Liverpool, ‘R’]]



Sample Output: {Liverpool:’R’, ‘Real Madrid’: ‘B’, ‘Chelsea’: ‘C’ }





---------------------------------------------------------------------------------------------------



Sample Input :

 {Atletico Madrid : ’D’ , ‘Juventus’: ‘B’, ‘Chelsea’: ‘C’ }

[[‘Juventus’, ‘G’], [‘Chelsea’, ‘H’]]



Sample Output: {Atletico Madrid : ’D’, ‘Juventus’: ‘G’, ‘Chelsea’: ‘H’ }

In [11]:
import ast

#reading the input dictionary
input_dictionary = input() #{'Barcelona':'Messi' , 'Real Madrid': 'Benzema', 'PSG': 'Neymar'}

convert_dictionary = ast.literal_eval(input_dictionary)

#reading the input list
input_list = input() #[['Barcelona', 'Griezmann'], ['PSG', 'Ramos']]
convert_list = ast.literal_eval(input_list)

for element in convert_list:
    if element[0] in convert_dictionary:
        convert_dictionary[element[0]] = element[1]

print(convert_dictionary)

 {'Barcelona':'Messi' , 'Real Madrid': 'Benzema', 'PSG': 'Neymar'}
 [['Barcelona', 'Griezmann'], ['PSG', 'Ramos']]

{'Barcelona': 'Griezmann', 'Real Madrid': 'Benzema', 'PSG': 'Ramos'}

# Problem 15

List average

Description
Suppose you are working as a Marketing Lead in a company and you want to recruit new employees in your team (which already consists of 10 members) to carry out the company’s major project. You select the employees based on five parameters: A, B, C, D and E. The value of each parameter is represented on a scale of 1 to 10. The present average value of these parameters for your team is given to you in a list (in the same order). You recruit a person only if their scores do not reduce the average score of more than two parameters of your team. If they are recruited, print the output as ‘Selected’. If not, print the output as ‘Rejected’.



--------------------------------------------------------------------------------------------------



Input - Two lists, where the first list is the average scores of the team in the five parameters, and the second list is the scores of the new employee in all the five parameters. The parameter order is the same for both the lists, which is A, B, C, D and E.



Output - String



--------------------------------------------------------------------------------------------------



Sample Input - [‘8’, ‘4’, ‘6’, ‘9’, ‘7’]

  [‘1’, ‘1.1’, ‘1.2’, ‘1.2’, ‘2.3’]




Sample Output - Rejected



--------------------------------------------------------------------------------------------------



Sample Input - [‘10’, ‘5’, ‘6’, ‘9’, ‘7’]

  [‘10’, ‘ 9.8’, ‘7.2’, ‘1.66’, ‘4.3’]




Sample Output - Selected



--------------------------------------------------------------------------------------------------



Sample Input - [‘8’, ‘5.66’, ‘6.5’, ‘10’, ‘10’]

  [‘7’, ‘ 10’, ‘6’, ‘7’, ‘9’]




Sample Output - Rejected

In [14]:
import ast

team_param = ast.literal_eval(input()) # ['10', '5', '6', '9', '7']
emp_param = ast.literal_eval(input()) # ['10', '9.8', '7.2', '1.66', '4.3']

team_emp_param = []
count = 0

selected = True

for i in range(0,5):
    if count>2:
        selected = False
        break
    else:
        team_emp_param.append(((float(team_param[i]) * 10) + float(emp_param[i]))/11)
        if team_emp_param[i] < float(team_param[i]):
            count = count+1

if selected:
    print('Selected')
else:
    print('Rejected')

 ['10', '5', '6', '9', '7']
 ['10', '9.8', '7.2', '1.66', '4.3']

Selected

# Problem 16

Merge dictionaries

Description
Write a python code to merge two dictionaries into a single dictionary.



--------------------------------------------------------------------------------------------------



Input: Two dictionaries, one in each line



Output: A Dictionary



--------------------------------------------------------------------------------------------------



Sample Input :

{'a': 10, 'b': 8}

{'d': 6, 'c': 4}



Sample Output : {'c': 4, 'a': 10, 'b': 8, 'd': 6}



--------------------------------------------------------------------------------------------------



Sample Input :

{'a': 110, 'b': 88}

{'d': 62, 'c': 44}



Sample Output : {'a': 110, 'b': 88, 'd': 62, 'c': 44}

In [19]:
input_dict1 =  ast.literal_eval(input())

input_dict2 =  ast.literal_eval(input())

input_dict1.update(input_dict2)

print(input_dict1)

 {'a': 10, 'b': 8}
 {'d': 6, 'c': 4}

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [20]:
# Another Solution

input_dict1 =  ast.literal_eval(input())

input_dict2 =  ast.literal_eval(input())

result = {**input_dict1, **input_dict2}

print(result)

 {'a': 10, 'b': 8}
  {'d': 6, 'c': 4}

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [26]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]